{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>Тестовый сайт</title>
    <link type="text/css" href="{% static '/css/main.css' %}" rel="stylesheet" />
</head>
<body>

    <header>
        <nav>
            <a href="{% url 'index' %}">Главная</a>
            <a href="{% url 'home' %}">Дом</a>
            <a href="{% url 'notes-index' %}">Заметки</a>
        </nav>
    </header>
    <div class="container">

        {% block mainmenu %}
        {% endblock mainmenu %}
        <main class="content">

            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer>
        &copy; 2024 Ваш сайт. Все права защищены. Автор: Масалыка В.Н.
    </footer>



</body>
</html>