{% extends 'base.html' %}
 
{% block content %}
<h1>test</h1>

<div>
    {% for dev in device %}
        <div style="display: inline-block; border: 2px solid blue;
        width: 200px; border-radius: 10px;">
            <div style="border: 2px solid darkblue; background-color: bisque; border-radius: 5px; 
            margin: 5px;">
                {{ dev }}
            </div>
            {% for sensor in dev.sensors %}
                <div style="border: 2px solid darkblue; background-color: bisque; border-radius: 5px; 
            margin: 5px;">
                        <div>
                            {{ sensor.name  }}
                        </div>
                    
                    {{ sensor.values.value }} {{ sensor.unit }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}